.note-item {
  border-radius: 16px;
  padding: 25px;
  margin-top: 2em;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-item-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}